h1{
    margin: 50px 100px 50px 30%;
    padding: auto;
}

.box{
    margin: 20px 200px 20px 200px;
    height: 100px;
    padding:30px;
    border-radius: 30px;
    background-color: rgb(117, 117, 231);
    color: aliceblue;
}